.main-nav
	position: fixed
	top: 0
	left: 0
	bottom: 0
	width: 50px
	border-right: 1px solid $border-color
	background-color: #fff
	z-index: 9
	display: flex
	// align-items: center
	justify-content: center
	flex-direction: column
	padding-top: 50px
	transition: $transition
	overflow: hidden
	&--active
		width: 190px !important
		.main-nav__link span
			opacity: 1
	@media (min-width: $lg)
		width: 80px
		padding-top: 80px
	&__link
		width: 50px
		height: 50px
		display: inline-flex
		align-items: center
		justify-content: center
		opacity: .5
		transition: $transition
		position: relative
		&--active, &:hover
			opacity: 1
		@media (min-width: $lg)
			width: 80px
			height: 80px
		& + .main-nav__link
			margin-top: 10px
		span
			position: absolute
			top: 52%
			left: 60px
			transform: translateY(-50%)
			opacity: 0
			transition: $transition